In [1]:
6*3

18

In [2]:
a=2
b=2

In [3]:
c=a+b

In [4]:
print(c)

4

In [5]:
name = 'Saqlain'

print(name);

Saqlain

In [6]:
name = "Pathan"

print(name)

Pathan

In [7]:
print(name.upper())

PATHAN

In [8]:
print(name.lower())

pathan

In [9]:
type(name)

str

In [10]:
first_name = "Saqlain"
print(first_name)

Saqlain

In [11]:
Rules to define variable names:
    1. A variable name should not contail any gap. we can use underscore instead. e.g first_name
    2. A variable name should not start with a number. e.g 1name = 'rahul'
    3. A variable name should not contain any special characters. e.g name@ = 'divya'

SyntaxError: invalid syntax (1095024918.py, line 1)

In [ ]:
Introduction to data types in python:
    
    1. strings =======> str
    2. lists =========> list
    3. numbers =======> integers (int) and decimals (float)
    4. tuples ========> tuple
    5. Dictionaries ==> dict

In [12]:
str a = "Saqlain"
print(a);

SyntaxError: invalid syntax (1546079619.py, line 1)